<div class="sidebar-header px-3 py-3">
    <a class="navbar-brand text-white" href="">CTrader</a>
</div>

<nav class="nav-menu flex-column px-2">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
    </NavLink>
    <NavLink class="nav-link" href="configuration">
        <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Configuration
    </NavLink>
    <NavLink class="nav-link" href="positions">
        <span class="bi bi-list-ul-nav-menu" aria-hidden="true"></span> Positions
    </NavLink>
    <NavLink class="nav-link" href="trades">
        <span class="bi bi-clock-history-nav-menu" aria-hidden="true"></span> Trades
    </NavLink>
    <NavLink class="nav-link" href="news">
        <span class="bi bi-newspaper-nav-menu" aria-hidden="true"></span> News
    </NavLink>
    <NavLink class="nav-link" href="logs">
        <span class="bi bi-file-text-nav-menu" aria-hidden="true"></span> Logs
    </NavLink>
    <NavLink class="nav-link" href="monitor">
        <span class="bi bi-activity-nav-menu" aria-hidden="true"></span> Monitor
    </NavLink>
</nav>
